@model RPGEnemies.Models.StatBlocks

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StatBlocks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CharacterName" class="control-label"></label>
                <input asp-for="CharacterName" class="form-control" />
                <span asp-validation-for="CharacterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brawn" class="control-label"></label>
                <input asp-for="Brawn" class="form-control" />
                <span asp-validation-for="Brawn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agility" class="control-label"></label>
                <input asp-for="Agility" class="form-control" />
                <span asp-validation-for="Agility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intellect" class="control-label"></label>
                <input asp-for="Intellect" class="form-control" />
                <span asp-validation-for="Intellect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cunning" class="control-label"></label>
                <input asp-for="Cunning" class="form-control" />
                <span asp-validation-for="Cunning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Willpower" class="control-label"></label>
                <input asp-for="Willpower" class="form-control" />
                <span asp-validation-for="Willpower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Presence" class="control-label"></label>
                <input asp-for="Presence" class="form-control" />
                <span asp-validation-for="Presence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Talents" class="control-label"></label>
                <input asp-for="Talents" class="form-control" />
                <span asp-validation-for="Talents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abilities" class="control-label"></label>
                <input asp-for="Abilities" class="form-control" />
                <span asp-validation-for="Abilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weapons" class="control-label"></label>
                <input asp-for="Weapons" class="form-control" />
                <span asp-validation-for="Weapons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skills" class="control-label"></label>
                <input asp-for="Skills" class="form-control" />
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
