@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RPG Enemies</h1>
    <p>This website is designed to be a place to access stat blocks for npcs and enemies for table top role-playing game, specifically games run in
    genesys.  You can search through for statblocks and create your own.</p>
</div>
